<!DOCTYPE html>
<html>
  <head>
    <link href="css/style.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />

  </head>
  <body>
    <h1>Gender of Candidates in Australian Federal Election 2016</h1>


    <script id="cat-template" type="text/underscore-template">
      <div class="party">
        <h2><%= Name %></h2>
        <h3>age <%= Party %></h3>
        <div class="body">
         
        </div>
      </div>
    </script>


    <script id="rowview-template" type="text/underscore-template">
      <div class="row_view">
        <%= Position =>
        </div>
      </div>
    </script>


    <div id="content"></div>
    <div id="loading">Fetching data... <img src="images/ajax-loader.gif" alt="loading..."/></div>

    <script type="text/javascript" src="lib/jquery.js"></script>
    <script type="text/javascript" src="lib/underscore.js"></script>
    <script type="text/javascript" src="lib/backbone.js"></script>
    <script type="text/javascript" src="lib/backbone.tabletopSync.js"></script>
    <script type="text/javascript" src="lib/tabletop.js"></script>
    <script type="text/javascript">


    var public_spreadsheet_url = "https://docs.google.com/spreadsheets/d/1JvBRkeXyamjWkKLjhcS720tBmGuT23CL-KZdGCkGKmk/pubhtml";

    $(document).ready( function() {
      renderSpreadsheetData();
    });

    function renderSpreadsheetData() {
       Tabletop.init( { key: public_spreadsheet_url,
                   callback: draw,
                   simpleSheet: true } )
    }

    function draw(data, tabletop) {
        // draw chart
        //drawChart(data);
        //console.log(data);
        states = _.groupBy(data,'State');
        var states = _.groupByMulti(data,['State','Party']);
        var parties = _.groupByMulti(data,['Party', 'State']);
        console.log(states);
        console.log(parties);
    }
      
    //code from http://stackoverflow.com/a/13869056
    _.groupByMulti = function (obj, values, context) {
        if (!values.length)
            return obj;
        var byFirst = _.groupBy(obj, values[0], context),
            rest = values.slice(1);
        for (var prop in byFirst) {
            byFirst[prop] = _.groupByMulti(byFirst[prop], rest, context);
        }
        return byFirst;
    };  
    
    
      document.write("The published spreadsheet is located at <a target='_new' href='" + public_spreadsheet_url + "'>" + public_spreadsheet_url + "</a>");    

    </script>
  </body>
</html>    
