<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Visualising the senate candidates for hte 2016 Australian Federal Election">
    <meta name="author" content="Peter Neish"> 
    <link href="css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="css/style.css" media="screen" rel="stylesheet" type="text/css" />
    <title>Federal Election Australia 2016 - Gender of Senate Candidates</title>
  </head>
  <body>
    <h1>Gender of Candidates in Australian Federal Election 2016</h1>



    <script id="cat-template" type="text/underscore-template">
      <div class="party">
        <h2><%= Name %></h2>
        <h3>age <%= Party %></h3>
        <div class="body">
         
        </div>
      </div>
    </script>


    <script id="rowview-template" type="text/underscore-template">
      <div class="row_view">
        <%= Position =>
        </div>
      </div>
    </script>


    <div id="content"></div>
    <div id="chart"></div>
    <div id="loading">Crunching data... <img src="images/ajax-loader.gif" alt="loading..."/></div>

    <script type="text/javascript" src="lib/jquery.js"></script>
    <script type="text/javascript" src="lib/underscore.js"></script>
    <script type="text/javascript" src="lib/d3.v3.min.js"></script>
    <script type="text/javascript" src="js/helper.js"></script>

    <script type="text/javascript">

    var public_spreadsheet_url = "https://docs.google.com/spreadsheets/d/1JvBRkeXyamjWkKLjhcS720tBmGuT23CL-KZdGCkGKmk/pubhtml";

    var width = 960,
        height = 250, // of each state
        margin = 30,  // between states
        cellSize = 25; // cell size

    var state_order_size = ['NSW', 'QLD', 'SA', 'TAS', 'VIC', 'WA', 'ACT', 'NT']; // so we can put the territories last    


    $(document).ready( function() {
      d3.csv("data/Candidates_Federal_Election_2016 - Candidates.csv", function(data){
          draw(data);
      });
    });


    function draw(data) {

        
        states = _.groupBy(data,'State');
        state_keys = _.keys(states);
        states_sorted = _.sortBy(data, function(s){ return [s.State,s.Party].join('|') ;});
        parties_sorted = _.sortBy(data, function(s){ return [s.Party,s.State].join('|') ;});

        parties = _.groupBy(data,'Party');
        party_keys = _.keys(parties);


        // add order position to the data in order to position the cells correctly
        _.map(states_sorted, function(s){  s['party_order'] = party_keys.indexOf(s.Party); return s;});
        _.map(states_sorted, function(s){  s['state_order'] = state_keys.indexOf(s.State); return s;});


        var num_states = _.size(states);
        var num_parties = _.size(parties);


        var svg = d3.select("#chart")
        .append("svg")
          .attr("width", width)
          .attr("height", (height * num_states) + (num_states * margin))
          .attr("class", "RdYlGn")
        .append("g");

        var rect = svg.selectAll("rect")
           .data(states_sorted)
           .enter()
           .append("rect")
           .attr("width", cellSize)
           .attr("height", cellSize)
           .attr('x', function(d){ return d.party_order * cellSize;})
           .attr('y', function(d){ return (d.state_order * height) +  (d.Position * cellSize);})
           .attr('class', function(d){ return d.Gender;})


        //  Tooltip Object
        var tooltip = d3.select("body")
          .append("div").attr("id", "tooltip")
          .style("position", "absolute")
          .style("z-index", "10")
          .style("visibility", "hidden")
          .text("a simple tooltip");

          //  Tooltip
          rect.on("mouseover", mouseover);
          rect.on("mouseout", mouseout);
          function mouseover(d) {
            tooltip.style("visibility", "visible");
            
            ttext = [d.Position, '. ', d.Name, ' ', '(',d.Party,')'].join('');

            tooltip.transition()        
                        .duration(200)      
                        .style("opacity", .9);      
            tooltip.html(ttext)  
                        .style("left", (d3.event.pageX)+30 + "px")     
                        .style("top", (d3.event.pageY) + "px"); 
          }
          function mouseout (d) {
            tooltip.transition()        
                    .duration(500)      
                    .style("opacity", 0); 
            var $tooltip = $("#tooltip");
            $tooltip.empty();
          }



   

          $("#loading").hide();
    }




    
    
      document.write("The published spreadsheet is located at <a target='_new' href='" + public_spreadsheet_url + "'>" + public_spreadsheet_url + "</a>");    

    </script>
  </body>
</html>    
